$od: 'Oswald', sans-serif;
$ry: 'Raleway', sans-serif;
$ro: 'Roboto', sans-serif;
$yellow: #FFC501;
$default: #312C21;


.header__fixed {}

.header__nav {}

.header__list {}

.header__item {}

.header__link {}

.header__recall {}

.header__recall-link {}
